#!/usr/bin/env bash

export STEPPATH="$PWD/cluster/local/.temp/tls"
export KUBECONFIG="$PWD/cluster/local/.temp/kubeconfig"
export TALOSCONFIG="$PWD/cluster/local/.temp/talosconfig"

dotenv_if_exists .env

PATH_add tools/bin
