#!/bin/sh

export STEPPATH=cluster/local/.tmp/tls
export KUBECONFIG=cluster/local/.tmp/kubeconfig
export TALOSCONFIG=cluster/local/.tmp/talosconfig
export DOPPLER_PROJECT=platform
export DOPPLER_CONFIG=local_personal

PATH_add tools/bin
