#!/bin/sh

export STEPPATH="$PWD/cluster/local/.tmp/tls"
export KUBECONFIG="$PWD/cluster/local/.tmp/kubeconfig"
export TALOSCONFIG="$PWD/cluster/local/.tmp/talosconfig"

dotenv_if_exists .env

PATH_add tools/bin
