#!/usr/bin/env bash

# shellcheck disable=SC2155
export PROJECT_ROOT="$(git rev-parse --show-toplevel)"

PATH_add "$PROJECT_ROOT/tools/bin"

export STEPPATH="$PWD/.temp/certs"
export KUBECONFIG="$PWD/.temp/kubeconfig"
export TALOSCONFIG="$PWD/.temp/talosconfig"

case "$(uname)" in
  Linux)
    export VARFILE="var-files/linux-x86_64.tfvars"
    export TF_VAR_libvirt_uri="qemu:///system"
    ;;
  Darwin)
    export VARFILE="var-files/apple-silicon.tfvars"
    export TF_VAR_libvirt_uri="qemu:///session?socket=$HOME/.cache/libvirt/libvirt-sock"
    ;;
esac

dotenv_if_exists .env
