.:53 {
  errors
  health
  ready

  hosts {
    ${load_ip_address} ${cmd_hostname}
    ${load_ip_address} ${local_hostname}
    ${load_ip_address} *.${local_hostname}
    ${load_ip_address} ${cloud_hostname}
    ${load_ip_address} *.${cloud_hostname}
    fallthrough
  }

  forward . 1.1.1.1 1.0.0.1
  cache 30
}
